.modal-warning {
	padding: 1.5rem 2rem;
	background: rgb(var(--light-red-color));
	color: rgb(var(--red-color));
	max-width: max-content;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: center;
	transform: translateX(calc(100% + 1rem));
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		border: 1px solid rgb(var(--red-color));
	}
	p {
		margin-bottom: 0;
	}

	&.show {
		transform: translateX(0);
	}
}